includes:
	- ../vendor/phpstan/phpstan-strict-rules/rules.neon
	- ../vendor/phpstan/phpstan-mockery/extension.neon
parameters:
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Strict comparison using === between null and ReflectionClass will always evaluate to false#'
        - '#Strict comparison using === between null and array<array> will always evaluate to false.#'
        - '#Strict comparison using === between false and array<int, string> will always evaluate to false.#'
